
AngularWithCore2Demo/.vs/config/applicationhost.config
AngularWithCore2Demo/.vs/AngularWithCore2Demo/v15/.suo
AngularWithCore2Demo/.vs/AngularWithCore2Demo/DesignTimeBuild/.dtbcache
*.ide
*.ide-shm
*.ide-wal
AngularWithCore2Demo/.vs/AngularWithCore2Demo/v15/Server/sqlite3/storage.ide
AngularWithCore2Demo/.vs/AngularWithCore2Demo/v15/Server/sqlite3/storage.ide
AngularWithCore2Demo/.vs/AngularWithCore2Demo/v15/Server/sqlite3/storage.ide-shm
AngularWithCore2Demo/.vs/AngularWithCore2Demo/v15/Server/sqlite3/storage.ide-wal
*.dll
*.pdb
*.cache
