<!--<div id="progress" class="progress-bar bg-danger"
     [style.width.px]="starWidth"
     [title]="rating"
     (click)="onClick()">

    <div class="progress"></div>
</div>-->

<button type="button" class="btn btn-primary">
    Notifications <span class="badge badge-light">4</span>
</button>

<!--<div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
     [style.width.px]="starWidth"
     [title]="rating">
    <div class="progress"></div>
</div>-->
