<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>Demo : {{ title }}</h1>

    <section class="content container-fluid">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Data Table With Full Features</h3>
            </div>

            <div style="text-align:right" class='box'>
                <div class='col-md-6'></div>
                <div class='col-md-2'>Filter by:</div>
                <div class='col-md-4'>
                    <input type='text' [(ngModel)]='listFilter' />
                </div>
            </div>
            <div class='row'>
                <div class='col-md-6'>
                    <h3>Filtered by: {{listFilter}} </h3>
                </div>
            </div>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>No.</th>
                        <th>Flight No</th>
                        <th>Service Provider</th>
                        <th>Flight Rating</th>
                        <th>Departure time</th>
                        <th>Arrival time</th>
                        <th>Capacity</th>
                        <th>Cost</th>
                        <th>Flyer Status</th>
                        <th>From city</th>
                        <th>To city</th>
                        <th>Flight Class</th>
                        <th>Progress</th>
                        <th>Tags</th>
                    </tr>
                </thead>
                <tr>
                    <th></th>
                    <th>No.</th>
                    <th>Flight No</th>
                    <th><input type='text' [(ngModel)]='listFilter' /></th>
                    <th>Flight Rating</th>
                    <th>Departure time</th>
                    <th>Arrival time</th>
                    <th>Capacity</th>
                    <th>Cost</th>
                    <th>Flyer Status</th>
                    <th>From city</th>
                    <th>To city</th>
                    <th>Flight Class</th>
                    <th>Progress</th>
                    <th>Tags</th>
                </tr>
                <tr *ngFor="let flight of flights$">
                    <td style="text-align:center"><input type="checkbox" id="chkSelected" /></td>
                    <td style="text-align:center">{{flight.flightId}}</td>
                    <td>{{flight.flightNo | uppercase }}</td>
                    <td>{{flight.serviceProvider | convertToCaps: 'flight.serviceProvider'}}</td>
                    <td width="100px">
                        <Grid-star [rating]='flight.flightRating'
                                   (ratingClicked)='onRatingClicked($event)'></Grid-star>
                    </td>
                    <td>{{flight.startTime}}</td>
                    <td>{{flight.endTime}}</td>
                    <td>{{flight.passengerCapacity}}</td>
                    <td style="text-align:right">{{flight.cost | currency:'AUD':true:'1.2-2'}}</td>
                    <td>
                        <Grid-label [rating]='flight.flightRating'></Grid-label>
                    </td>
                    <td>{{flight.departureCity}}</td>
                    <td>{{flight.arrivalCity}}</td>
                    <td style="color:darkgoldenrod;">{{flight.flightClass}}</td>
                    <td width="100px">
                        <Grid-progress-bar [completed]='flight.completed'
                                           (ratingClicked)='onRatingClicked($event)'></Grid-progress-bar>
                    </td>
                    <td>
                        <Grid-badge [rating]='flight.flightRating'
                                    (ratingClicked)='onRatingClicked($event)'></Grid-badge>
                    </td>
                    
                </tr>
            </table>
        </div>

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </section>

</body>
</html>